@media (min-width: 320px) and (max-width: 768px){
    .hero-container{
        flex-direction: column-reverse !important;
        padding: 0% 0% 0% 0% !important;
        gap: 5% !important;
    }
    .banner{
        width: 90vw !important;
    }
    .images-container{
        min-width: 330px !important;
        height: 400px !important;
        background-repeat: no-repeat;
        background-size:210px !important;
        background-position: bottom !important;
    }
    .hero-box{
        padding: 0% 3% 0% 5% !important;
        width: 100vw;
    }
    .icons-master{
        margin-top: 90px;
        width: 270px;
    }
}

.hero-container{
    background-color: #EDF3FF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding-right: 20%;
    padding-left: 20%;
}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    max-width: 500px;
    height: 293px;
    text-align: left;
}
.heading-hero-box{
    font-size: 36px;
    line-height: 48px;
    color: #2C2D2D;
}
.paragraph-hero-box{
    font-size: 18px;
    line-height: 28px;
    color: #2C2D2D;
}
.buttons-box-hero-box .button1{
    /* font-size: 17px; */
    letter-spacing: 1px;
}
.buttons-box-hero-box .button2{
    /* font-size: 17px; */
    letter-spacing: 1px;
}
/* .buttons-box-hero-box button:hover{
    transform:scale(1.08);
    transition: 200ms;
} */
.images-container{
    background-image: url('/businessman.png');
    min-width: 400px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size:350px;
    background-position: center;
}
.banner{
    width: 60vw;
}